<h1>Order fulfillment for Merchant: <%=@logged_user.name%> Orders</h1>
<main>
	<h2>List of Order Items</h2>
	<section class="order-items-table">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Purchase Date</th>
					<th>Product Name</th>
					<th>Quanity</th>
					<th>Order Status</th>
					<th>Item Price</th>
					<th>Item Revenue</th>
					<th>Shipment Status</th>
				</tr>
			</thead>
			<tbody>
				<% @order_items.each do |order_item| %>
					<tr>
						<td><%= image_tag order_item.product.photo_url, alt: "products packaging appearance" %></td>
						<td><%= link_to(order_item.order.updated_at.strftime("%B %d, %Y"), confirm_order_path(order_item.order_id)) %></td>
						<td><%= link_to(order_item.product.name, product_path(order_item.product.id)) %></td>
						<td><%= order_item.quantity %></td>
          	<td><%= order_item.order.order_status %></td>
						<td><%= order_item.product.price %></td>
						<td><%= order_item.calculate_total %></td>
						<td>TODO: Shipped button</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</section>
</main>
