<h2>Here is your order summary:</h2>
<main>
	<section class="order-table">
		<h2>User's Summary</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email Address</th>
					<th>Mailing Address</th>
					<th>Credit Card Number</th>
					<th>Expiration Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= @order.name_on_credit_card %></td>
					<td><%= @order.email_address %></td>
					<td><%= @order.mailing_address %></td>
					<td><%= @order.credit_card_number%></td>
					<td><%= @order.credit_card_expiration %></td>
				</tr>
			</tbody>
		</table>
	</section>
	<section class="order-table">
		<h2>Confirmation Summary</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Quantity</th>
					<th>Item Total</th>
					<th>Order Item Status</th>
				</tr>
			</thead>
			<tbody>
				<% @order_items.each do |order_item| %>
					<%product = Product.where(id: order_item.product_id)[0]%>
					<tr>
						<td><%= link_to(product.name, product_path(product.id)) %></td>
						<td> <%= order_item.quantity %> </td>
						<td> <%= order_item.calculate_total %> </td>
						<td> <%= order_item.order_item_status %> </td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</section>
	<section class="order-table">
		<h2>Order Summary</h2>
		<table class="table">
			<thead>
				<tr>
					<th>Order Total</th>
					<th>Date of Order</th>
					<th>Order Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%=@order.calculate_order_total %></td>
					<td><%= @order.updated_at.strftime("%B %d, %Y %H:%M")  %></td>
					<td><%= @order.order_status %></td>
				</tr>
			</tbody>
		</table>
	</section>
</main>
