<main>
	<h1>Order Show Page</h1>
	<section class="media-table">
		<table class="table">
			<thead>
				<tr>
					<th>Product Name</th>
					<th>Item Price</th>
					<th>Quantity</th>
					<th>Item Total</th>
					<th>Remove From Cart</th>
				</tr>
			</thead>
			<tbody>
				<% @order_items.each do |order_item| %>
					<%product = Product.where(id: order_item.product_id)[0]%>
					<tr>
						<td><%= link_to(product.name, product_path(product.id)) %></td>
						<td><%= product.price %></td>
						<td><%= order_item.quantity %></td>
						<td> <%= order_item.calculate_total %> </td>
						<td><%= link_to("Remove", order_item_path(order_item.id), method: :delete) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</section>
</main>
