<main>
	<section>
		<h2> <%= @product.name%>
			<h2>
				<p>  <%= @product.description %> </p>
				<p> $ <%= @product.price%> </p>
				<p> <%= @product.stock %> </p>
				<p> Status: <%= @product.product_status %> </p>
				<%= image_tag @product.photo_url, alt: "products packaging appearance" %>
			</section>
			<%= form_with model: @order_item, url: product_order_items_path(@product.id), class: 'order_item-form' do |f| %>
				<section>
					<%= f.label :quantity %>
					<%= f.text_field :quantity %>
				</section>
				<%= f.submit "Add to Cart" ,class: "order_item-button" %>
			<% end %>
			<br>
			<section class="reviews">
				<%= link_to "Leave a Review", new_product_review_path(@product.id), class: "btn btn-primary" %>
				<h4> Average Rating: </h4>
				<%= @product.average_rating %> / 5
				<h4>Reviews</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Date</th>
							<th>Rating</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<% @product.reviews.each do |review| %>
							<tr>
								<td><%= review.created_at.strftime("%D") %></td>
								<td><%= review.rating%></td>
								<td><%= review.text %></td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</section>
		</main>
