<!DOCTYPE html>
<html>
	<head>
		<title>Betsy</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>

		<header class="app-header">
			<nav class="navbar navbar-expand-lg navbar-light fixed-top">
				<a class="navbar-brand" href="<%= root_path %>">p3tsy</a>
				<ul class="nav app-header__site-nav-container">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Browse by Category
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<% @categories.each do |category| %>
								<a class="dropdown-item" href="<%= category_path(category.id) %>"><%= "#{category.name}" %></a>
							<% end %>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Browse by Merchant
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<% @users.each do |user| %>
								<a class="dropdown-item" href="<%= user_path(user.id) %>"><%= "#{user.name}" %></a>
							<% end %>
						</div>
					</li>
					<li class="nav-item app-header__nav_item">
						<a class="nav-link" href="<%= products_path%>"> View All Products</a>
					</li>
					<% if @logged_user %>
						<li class="nav-item app-header__nav_item">
							<%= link_to "My Account", myaccount_path, class: "btn btn-primary" %>
						</li>
						<li class="nav-item app-header__nav_item">
							<%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-primary" %>
						</li>
					<% else %>
						<li class="nav-item app-header__nav_item">
							<%= link_to "Login with Github", github_login_path, class: "btn btn-primary" %>
						</li>
					<% end %>
					<% if @current_order %>
						<li class="nav-item app-header__nav_item">
							<%= link_to "Shopping Cart", order_path(@current_order.id), class: "btn btn-primary" %>
						</li>
					<% else %>
						<li class="nav-item app-header__nav_item">
							<%= link_to "Shopping Cart", new_order_path, class: "btn btn-primary" %>
						</li>
					<% end %>
				</ul>
			</nav>
			<section class="flash-msg__section">
				<% flash.each do |name, message| %>
					<strong class="<%= name %>">
						<%= message %>
					</strong>
				<% end %>
			</section>
		</header>

		<%= yield %>
	</body>
	
</html>
